<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Webpack Boilerplate Starter Template</title>
        <meta name="description" content="description">
        <meta name="keywords" content="webpack, html, css, javascript">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
        name="author" content="Authorrrr">
    {# <link rel="icon" href="{% static 'images/favicon.png' %}"/> #}
    </head>
    <body>
        <div class="container mx-auto">
            <br/>
            <div class="flex justify-center">
                <img src="{% static 'src/assets/images/image.jpg' %}" alt="Image Example"/>
                <span class="accent">Webpack</span>. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae quos ab,
                    incidunt hic recusandae animi nesciunt fugiat ipsa velit nobis, quam corrupti veritatis, perferendis facere et odit
                    autem corporis molestias?
            </div>
        </div>
    </body>
</html>
